{{define "index.html"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <meta charset="utf-8">
    <title>AlpacaScope</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery-ui.theme.css">
    <link rel="stylesheet" href="/static/jquery-ui.structure.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/jquery.js"></script>
    <script src="/static/jquery-ui.js"></script>
</head>
<body>

</body>
</html>
{{end}}
